<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por José Miguel del Valle Salas.
</p>

<img src="/images/fotocore.jpg" />

<a href="https://github.com/trucotecon40"> https://github.com/trucotecon40 </a>