<h1>Ayuda</h1>

<p>
    Un quiz es una pregunta a responder.
    Se responde escribiendo en la caja de texto que incluye cada pregunta.
    El objeivo del portal es la creación de un Quiz completo de preguntas de cultura general.
</p>



